/*6斜杠*/

.obliqueline {
	border-radius: 10vw;
	background-color: #A9A9A9;
	/**#A9A9A9***/
	height: 0.35vw;
	width: 5.5vw;
	/*margin-bottom: 1.2vw;*/
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	/* IE 9 */
	-moz-transform: rotate(-45deg);
	/* Firefox */
	-webkit-transform: rotate(-45deg);
	/* Safari 和 Chrome */
	-o-transform: rotate(-45deg);
	/* Opera */
	/*border: 1px solid green;*/
}
.laddershaped{
	opacity: 0;
	-moz-transition:opacity 0.1s linear 0.4s;
	-webkit-transition:opacity 0.1s linear 0.4s;
	-o-transition:width opacity 0.1s linear 0.4s;
	transition: opacity 0.1s linear 0.4s;
}
.left_laddershaped {
	height: 0;
	width: 0vw;/*9.5vw;*//*8.5vw,7.5vw*/
	border-bottom: 0.5vw solid black;
	border-left: 0.5vw solid transparent;
	margin-top: 0.75vw;
	opacity: 0.9;
	
	-moz-transition:width 0.3s linear 0.4s;
	-webkit-transition:width 0.3s linear 0.4s;
	-o-transition:width width 0.3s linear 0.4s;
	transition: width 0.3s linear 0.4s;
}
.ladder1,.ladder2,.ladder3{
	
}
.right_laddershaped {
	height: 0;
	width: 0vw;
	border-bottom: 0.5vw solid black;
	border-right: 0.5vw solid transparent;
	margin-top: 0.75vw;
	opacity: 0.9;
	
	-moz-transition:width 0.3s;
	-webkit-transition:width 0.3s;
	-o-transition:width width 0.3s;
	transition: width 0.3s;
}

.cbg1 {
	background-color: #A9A9A9;
	-webkit-animation: bg-color1 5s infinite;
	-moz-animation: bg-color1 5s infinite;
	animation: bg-color1 5s infinite;
}

.cbg2 {
	background-color: #A9A9A9;
	-webkit-animation: bg-color2 5s infinite;
	-moz-animation: bg-color2 5s infinite;
	animation: bg-color2 5s infinite;
}

.cbg3 {
	background-color: #A9A9A9;
	-webkit-animation: bg-color3 5s infinite;
	-moz-animation: bg-color3 5s infinite;
	animation: bg-color3 5s infinite;
}

.cbg4 {
	background-color: #A9A9A9;
	-webkit-animation: bg-color4 5s infinite;
	-moz-animation: bg-color4 5s infinite;
	animation: bg-color4 5s infinite;
}

.cbg5 {
	background-color: #A9A9A9;
	-webkit-animation: bg-color5 5s infinite;
	-moz-animation: bg-color5 5s infinite;
	animation: bg-color5 5s infinite;
}

.cbg6 {
	background-color: #A9A9A9;
	-webkit-animation: bg-color6 5s infinite;
	-moz-animation: bg-color6 5s infinite;
	animation: bg-color6 5s infinite;
}

@-webkit-keyframes bg-color1 {
	0% {
		background-color: #FFFFFF;
	}
	9% {
		background-color: #FFFFFF;
	}
	10% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@-webkit-keyframes bg-color2 {
	0% {
		background-color: #A9A9A9;
	}
	9% {
		background-color: #A9A9A9;
	}
	10% {
		background-color: #FFFFFF;
	}
	19% {
		background-color: #FFFFFF;
	}
	20% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@-webkit-keyframes bg-color3 {
	0% {
		background-color: #A9A9A9;
	}
	19% {
		background-color: #A9A9A9;
	}
	20% {
		background-color: #FFFFFF;
	}
	29% {
		background-color: #FFFFFF;
	}
	30% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@-webkit-keyframes bg-color4 {
	0% {
		background-color: #A9A9A9;
	}
	29% {
		background-color: #A9A9A9;
	}
	30% {
		background-color: #FFFFFF;
	}
	39% {
		background-color: #FFFFFF;
	}
	40% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@-webkit-keyframes bg-color5 {
	0% {
		background-color: #A9A9A9;
	}
	39% {
		background-color: #A9A9A9;
	}
	40% {
		background-color: #FFFFFF;
	}
	49% {
		background-color: #FFFFFF;
	}
	50% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@-webkit-keyframes bg-color6 {
	0% {
		background-color: #A9A9A9;
	}
	49% {
		background-color: #A9A9A9;
	}
	50% {
		background-color: #FFFFFF;
	}
	59% {
		background-color: #FFFFFF;
	}
	60% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@-moz-keyframes bg-color1 {
	0% {
		background-color: #FFFFFF;
	}
	9% {
		background-color: #FFFFFF;
	}
	10% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@-moz-keyframes bg-color2 {
	0% {
		background-color: #A9A9A9;
	}
	9% {
		background-color: #A9A9A9;
	}
	10% {
		background-color: #FFFFFF;
	}
	19% {
		background-color: #FFFFFF;
	}
	20% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@-moz-keyframes bg-color3 {
	0% {
		background-color: #A9A9A9;
	}
	19% {
		background-color: #A9A9A9;
	}
	20% {
		background-color: #FFFFFF;
	}
	29% {
		background-color: #FFFFFF;
	}
	30% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@-moz-keyframes bg-color4 {
	0% {
		background-color: #A9A9A9;
	}
	29% {
		background-color: #A9A9A9;
	}
	30% {
		background-color: #FFFFFF;
	}
	39% {
		background-color: #FFFFFF;
	}
	40% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@-moz-keyframes bg-color5 {
	0% {
		background-color: #A9A9A9;
	}
	39% {
		background-color: #A9A9A9;
	}
	40% {
		background-color: #FFFFFF;
	}
	49% {
		background-color: #FFFFFF;
	}
	50% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@-moz-keyframes bg-color6 {
	0% {
		background-color: #A9A9A9;
	}
	49% {
		background-color: #A9A9A9;
	}
	50% {
		background-color: #FFFFFF;
	}
	59% {
		background-color: #FFFFFF;
	}
	60% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@keyframes bg-color1 {
	0% {
		background-color: #FFFFFF;
	}
	9% {
		background-color: #FFFFFF;
	}
	10% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@keyframes bg-color2 {
	0% {
		background-color: #A9A9A9;
	}
	9% {
		background-color: #A9A9A9;
	}
	10% {
		background-color: #FFFFFF;
	}
	19% {
		background-color: #FFFFFF;
	}
	20% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@keyframes bg-color3 {
	0% {
		background-color: #A9A9A9;
	}
	19% {
		background-color: #A9A9A9;
	}
	20% {
		background-color: #FFFFFF;
	}
	29% {
		background-color: #FFFFFF;
	}
	30% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@keyframes bg-color4 {
	0% {
		background-color: #A9A9A9;
	}
	29% {
		background-color: #A9A9A9;
	}
	30% {
		background-color: #FFFFFF;
	}
	39% {
		background-color: #FFFFFF;
	}
	40% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@keyframes bg-color5 {
	0% {
		background-color: #A9A9A9;
	}
	39% {
		background-color: #A9A9A9;
	}
	40% {
		background-color: #FFFFFF;
	}
	49% {
		background-color: #FFFFFF;
	}
	50% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

@keyframes bg-color6 {
	0% {
		background-color: #A9A9A9;
	}
	49% {
		background-color: #A9A9A9;
	}
	50% {
		background-color: #FFFFFF;
	}
	59% {
		background-color: #FFFFFF;
	}
	60% {
		background-color: #A9A9A9;
	}
	100% {
		background-color: #A9A9A9;
	}
}

.shapebox {
	padding-left: 27.2vw;
	position: absolute;
	width:100%;
	z-index: 1000;
}
.shapeboxwidth{
	width: 32.5vw;
}
.shadecommon {
	width: 0.1vw; /*32vw;*/
	background: rgba(0, 0, 0, 0.9);
	
	-moz-transition:width 0.3s linear 0.1s;  /*Firefox 4 */
	-webkit-transition:width 0.3s linear 0.1s;  /*Safari and Chrome */
	-o-transition:width 0.3s linear 0.1s; /* Opera */
	transition:width 0.3s linear 0.1s;
}

.pxsbx1 {
	height: 20vw;
	/*background: #EC0465;*/
	transform: skew(-45deg);
	-webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
}

.pxsbx2 {
	height: 44vw;
	/*background: #EC0465;*/
	transform: skew(45deg);
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	margin-left: 12vw;
}

.pxsbx3 {
	height: 43vw;
	/*background: #EC0465;*/
	transform: skew(-45deg);
	-webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
	margin-left: 12.5vw;
}

.pxsbx4 {
	height: 43vw;
	/*background: #EC0465;*/
	transform: skew(45deg);
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	margin-left: 12.5vw;
}

.pxsbx5 {
	height: 43vw;
	/*background: #EC0465;*/
	transform: skew(-45deg);
	-webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
	margin-left: 12.5vw;
}

.jx1 {
	margin-left: -10vw;
	height: 30.5vw;
}

.jx2 {
	margin-left: 34vw;
	height: 29.5vw;
	/*margin-top: -0.1px;*/
}

.jx3 {
	margin-left: -9vw;
	height: 29vw;
	/*margin-top: -0.1px;*/
}

.jx4 {
	margin-left: 34vw;
	height: 32.6vw;
	margin-top: -0.1px;
}