.content {
	z-index: 1000;
	height: 112vw;
	padding-top: 2.5vw;
	overflow: hidden;
	padding-left: 24vw;
	/*border: 1px solid yellow;*/
}

.content-title {
	position: absolute;
	height: 15vw;
	padding-top: 2.5vw;
	vertical-align: middle;
	z-index: 200;
	/*border: 1px solid red;*/
}

.content-title img {
	height: 10vw;
	width: 10vw;
	margin-left: 4vw;
	vertical-align: middle;
	float: left;
}

.content-title .value {
	color: #FFFFFF;
	margin-left: 2vw;
	padding-top: 3vw;
	float: left;
}

.type-bar {
	/*font-size: 16px;*/
	display: block;
	color: #B3B3B3;
	height: 0;
	width: 40vw;
	line-height: 5vw;
	padding-left: 5px;
	border-width: 0px 5vw 5vw 0px;
	border-style: none solid solid;
	border-color: transparent transparent #B3B3B3;
	/*B3B3B3*/
	margin-left: 13vw;
	padding-top: 2vw;
}

.type-bar span {
	color: #FFFFFF;
	/*font-size: 2.5vw;*/
	margin-left: 2vw;
}

.subject {
	font-size: 2.5vw;
	display: flex;
	padding-top: 1vw;
}

.subject:after {
	content: '';
	display: flex;
	width: 2vw;
	height: 3vw;
	background-color: #C0552B;
	-moz-box-shadow: 0.3vw 0.3vw 0px #393939;
	/* 老的 Firefox */
	box-shadow: 0.3vw 0.3vw 0px #393939;
	margin-left: 0.5vw;
	margin-top: -0.8vw;
}

.subject span{
	/*padding-bottom: 1vw;*/
	margin-top: -0.5vw;
}

.instructionTitle {
	float: right;
	/*margin-right: 2vw;*/
	padding-right: 2vw;
	padding-top: 0.5vw;
	/*border: 1px solid red;*/
	display: none;
}

.instruction {
	clear: both;
	float: right;
	height: 12vw;
	padding-top: 1.5vw;
	padding-right: 1vw;
	
	/*border: 1px solid green;*/
}

.instruction-content {
	float: right;
	width: 58vw;
	/*padding-left: 22vw;*/
	padding-top: 0.5vw;
	height: 12vw;
	/*line-height: 2.1vw;*/
	word-break: break-word;
	/*font-size: 1.5vw;*/
	
	/*border:  1px solid palevioletred;*/
}

.submenu {
	height: 55vw;
	width: 20vw;
	float: left;
	position: absolute;
	margin-top: 28vw;
	z-index: 100;
	/*border: 1px solid red;*/
}

.submenu ul {
	list-style-type: none;
	line-height: 3.5vw;
	/*font-size: 1.8vw;*/
	color: #FFFFFF;
	padding-left: 0vw;
	padding-top: 1.8vw;
	padding-right: 5vw;
}
.submenu ul li a{
	color: #FFFFFF;
	text-decoration: none;
}
.submenu ul li {
	background: #C0552B;
	display: block;
	height: 3.7vw;
	width: 19vw;
	margin-bottom: 1.5vw;
	cursor: pointer;
	/*border: 1px solid greenyellow;*/
}

.submenu ul li:hover {
	width: 21vw;
	cursor: hand;
	/*background-color: rgb(204,252,98);*/
	background-color: rgb(255, 0, 0);
	-webkit-transition: background-color 1;
	-webkit-transition: color 1;
	-moz-transition: background-color 1;
	-moz-transition: color 1;
	transition: background-color 1;
	transition: color 1;
}

.submenu ul li img {
	height: 4.5vw;
	width: 4.02vw;
	float: left;
	margin-top: -0.4vw;
	vertical-align: middle;
	/*border:1px solid yellow;*/
}
.submenu ul li span{
	float: left;
}

.instruction-imgDiv {
	height: 55vw;
	width: 76vw;
	float: right;
	opacity: 0.8;
	/*border: 1px solid blue;*/
}

.instruction-imgDiv .stage {
	height: 32vw;
	overflow: hidden;
	padding-left: 10vw;
	padding-top: 1vw;
	/*border: 1px solid red;*/
}

.instruction-imgDiv .stage img {
	height: 32vw;
}

.instruction-imgDiv .item {
	height: 15vw;
	float: left;
	margin-top: 4vw;
	/*margin-right: 1vw;*/
	/*border: 1px solid yellow;*/
	margin-left: 1vw;
}

.instruction-imgDiv .item img {
	height: 15vw;
	float: left;
	margin-right: 1vw;
	/*border: 1px solid yellow;*/
}

.data {
	clear: both;
	height: 29vw;
	/*margin-top: 1vw;*/
	/*border: 1px solid palevioletred;*/
	display: none;
}

.data .dataSubjectdiv {
	float: right;
	padding-right: 2vw;
	padding-top: 5.5vw;
	/*border:  1px solid darkturquoise;*/
}

.data .dataDetailDiv {
	clear: both;
	float: left;
	padding-left: 15vw;
	padding-top: 1vw;
}

.data .dataDetailDiv .dItem {
	float: left;
	width: 24vw;
	margin-left: 3vw;
	/*border: 1 solid yellow;*/
}

.data .dataDetail {
	font-size: 16px;
	display: block;
	color: #B3B3B3;
	height: 0;
	width: 10vw;
	line-height: 2.2vw;
	/**高度**/
	padding-left: 0px;
	border-width: 0px 2.2vw 2.2vw 0px;
	/**高度**/
	border-style: none solid solid;
	border-color: transparent transparent #C0552B;
	/*B3B3B3*/
	margin-left: 0vw;
	padding-top: 2vw;
}

.data .dataDetail span {
	color: #FFFFFF;
	font-size: 1.5vw;
	/*margin-left: 2vw;*/
	float: right;
	margin-right: 1vw;
}

#obliqueline-box {
	position: absolute;
	z-index: 2000;
	margin-top: 18vw;
	margin-left: 21vw;
}



.pAbsolute {
	position: absolute;
}

.stage-img-box,
.img-stage-l,
.img-stage {
	height: 32vw;
	width: 48vw;
}

.stage-img-box {
	position: relative;
	display: inline-block;
	margin-left: 15vw;
	/*border: 1px solid yellow;*/
}

.img-stage {
	opacity: 0;
	overflow: hidden;
	z-index: 1;
	position: absolute;
	-webkit-transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.img-stage-selected {
	opacity: 1;
	z-index: 2;
}

.img-stage img {
	width: 100%;
	height: 100%;
}

.item-img-list {
	height: 20vw;
	padding-left: 1.5vw;
	padding-top: 4.5vw;
	overflow: hidden;
	/*border: 1px solid red;*/
}

.item-img-box,
.img-item {
	height: 14.5vw;
	width: 22.5vw;
}

.item-img-box {
	float: left;
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin-left: 2vw;
	/*margin-right: 1vw;*/
	margin-bottom: 1vw;
}

.stage-img-box::after,
.item-img-box::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
	opacity: 0;
	-webkit-transition: all 0.6s/*cubic-bezier(0.165, 0.84, 0.44, 1)*/
	;
	transition: all 0.6s/*cubic-bezier(0.165, 0.84, 0.44, 1)*/
	;
}

.item-img-selected::after,
.stage-img-box:hover::after,
.item-img-box:hover::after {
	opacity: 1;
}

.img-item img {
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.6s/*cubic-bezier(0.165, 0.84, 0.44, 1)*/
	;
	transition: all 0.6s/*cubic-bezier(0.165, 0.84, 0.44, 1)*/
	;
}

.img-item {
	overflow: hidden;
}

.img-item img:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.item-img-moveToLeft {
	-webkit-animation: imgmoveToLeft 2s ease both;
	-moz-animation: imgmoveToLeft 2s ease both;
	animation: imgmoveToLeft 2s ease both;
}

@-webkit-keyframes imgmoveToLeft {
	to {
		margin-left: -25vw;
	}
}

@-moz-keyframes imgmoveToLeft {
	to {
		margin-left: -25vw;
	}
}

@keyframes imgmoveToLeft {
	to {
		margin-left: -30vw;
	}
}
.line,
.BlowMolding,
.automatic,
.mould {
	height: 112vw;
}
.sub-main{
	height: 112vw;
	overflow:  hidden;
}
.sub-section{
	width: 100%;
	position: absolute;
}

.sub_moveAnimation{
	-webkit-transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

